body {
  background: #F5F5F5;
}

#app {
  width: 50vw;
  margin: 0 auto;
  background-color: white;
}

.scroller {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin-left: 10px;
  border: 1px solid black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-left: 10px;
  border-bottom: 1px solid black;
}